.accordion-item {
  border: none !important;

}

.accordion-item .accordion-button,
.accordion-item .accordion-button:focus {
  background-color: transparent !important;
  box-shadow: none;
  border: none;
}

.accordion-item .accordion-button::after {
  display: none;
}