.profile-pic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-container {
  display: flex;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column-reverse;
  }
}